automatizacion/n8n-contact-form-automation.json
{
  "name": "Automation - Contact Form to Sheets, Email and Notion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "contact-form",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "1",
      "name": "Webhook Contact Form",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "contact-form-automation"
    },
    {
      "parameters": {
        "jsCode": "const payload = $json.body ?? $json;\n\nconst toCleanString = (value) => (typeof value === 'string' ? value.trim() : '');\nconst stripWrappingQuotes = (value) => value.replace(/^['\"]|['\"]$/g, '');\n\nconst getEnv = (key) => {\n  if (typeof $env !== 'undefined' && $env && typeof $env[key] === 'string') {\n    return stripWrappingQuotes($env[key].trim());\n  }\n  return '';\n};\n\nconst normalizeNotionPageId = (rawValue) => {\n  const value = toCleanString(rawValue);\n  if (!value) return '';\n\n  const uuidLikeMatch = value.match(/[0-9a-fA-F]{32}/);\n  if (uuidLikeMatch) return uuidLikeMatch[0].toLowerCase();\n\n  const compact = value.replace(/-/g, '');\n  if (/^[0-9a-fA-F]{32}$/.test(compact)) return compact.toLowerCase();\n\n  return value;\n};\n\nconst toObject = (value) => {\n  if (value && typeof value === 'object') return value;\n  if (typeof value === 'string') {\n    try {\n      return JSON.parse(value);\n    } catch {\n      return { raw: value };\n    }\n  }\n  return { raw: value };\n};\n\nconst wait = (milliseconds) =>\n  new Promise((resolve) => {\n    setTimeout(resolve, milliseconds);\n  });\n\nconst name = toCleanString(payload.name);\nconst email = toCleanString(payload.email).toLowerCase();\nconst message = toCleanString(payload.message);\nconst source = toCleanString(payload.source) || 'webhook';\nconst phone = toCleanString(payload.phone);\n\nconst errors = [];\nif (name.length < 2) errors.push('name es obligatorio y debe tener minimo 2 caracteres');\nconst emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\nif (!emailRegex.test(email)) errors.push('email es obligatorio y debe tener formato valido');\nif (message.length < 5) errors.push('message es obligatorio y debe tener minimo 5 caracteres');\nif (phone && phone.length < 7) errors.push('phone, si llega, debe tener minimo 7 caracteres');\n\nif (errors.length > 0) {\n  return [\n    {\n      json: {\n        success: false,\n        status: 400,\n        error: 'Payload invalido',\n        details: errors,\n      },\n    },\n  ];\n}\n\nif (!helpers || typeof helpers.httpRequest !== 'function') {\n  return [\n    {\n      json: {\n        success: false,\n        status: 500,\n        error: 'Entorno de n8n invalido',\n        details: 'helpers.httpRequest no esta disponible en este nodo',\n      },\n    },\n  ];\n}\n\nconst config = {\n  gsheetWebhookUrl: getEnv('GSHEET_WEBHOOK_URL'),\n  resendApiKey: getEnv('RESEND_API_KEY'),\n  resendFrom: getEnv('RESEND_FROM'),\n  notionToken: getEnv('NOTION_TOKEN'),\n  notionParentPageId: normalizeNotionPageId(getEnv('NOTION_PARENT_PAGE_ID')),\n};\n\nconst missingEnv = [];\nif (!config.gsheetWebhookUrl) missingEnv.push('GSHEET_WEBHOOK_URL');\nif (!config.resendApiKey) missingEnv.push('RESEND_API_KEY');\nif (!config.resendFrom) missingEnv.push('RESEND_FROM');\nif (!config.notionToken) missingEnv.push('NOTION_TOKEN');\nif (!config.notionParentPageId) missingEnv.push('NOTION_PARENT_PAGE_ID');\n\nif (missingEnv.length > 0) {\n  return [\n    {\n      json: {\n        success: false,\n        status: 500,\n        error: 'Configuracion incompleta en n8n',\n        details: missingEnv.map((key) => `Falta la variable ${key}`),\n      },\n    },\n  ];\n}\n\nconst contact = {\n  name,\n  email,\n  phone: phone || null,\n  message,\n  source,\n  receivedAt: new Date().toISOString(),\n};\n\nconst integrations = {\n  sheets: {\n    success: false,\n    attempts: 0,\n    response: null,\n    error: null,\n  },\n  email: {\n    success: false,\n    attempts: 0,\n    response: null,\n    error: null,\n    retryScheduled: false,\n  },\n  notion: {\n    success: false,\n    attempts: 0,\n    response: null,\n    error: null,\n  },\n};\n\nconst warnings = [];\n\nconst escapeHtml = (value) =>\n  value\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;')\n    .replace(/'/g, '&#39;');\n\nconst postJson = async (url, headers, body) =>\n  await helpers.httpRequest({\n    method: 'POST',\n    url,\n    headers,\n    body: JSON.stringify(body),\n  });\n\nconst sendWithRetry = async (step, url, headers, body, retries = 0, backoffMs = 1200) => {\n  let attempts = 0;\n  let lastError = 'Unknown error';\n\n  while (attempts <= retries) {\n    attempts += 1;\n\n    try {\n      const rawResponse = await postJson(url, headers, body);\n      return {\n        ok: true,\n        attempts,\n        response: toObject(rawResponse),\n        error: null,\n      };\n    } catch (error) {\n      lastError = error instanceof Error ? error.message : String(error);\n\n      if (attempts <= retries) {\n        await wait(backoffMs * attempts);\n      }\n    }\n  }\n\n  return {\n    ok: false,\n    attempts,\n    response: null,\n    error: `${step} fallo: ${lastError}`,\n  };\n};\n\ntry {\n  const sheetsResult = await sendWithRetry(\n    'google_sheets',\n    config.gsheetWebhookUrl,\n    {\n      'Content-Type': 'application/json',\n    },\n    contact,\n    1,\n    1000,\n  );\n\n  integrations.sheets = {\n    success: sheetsResult.ok,\n    attempts: sheetsResult.attempts,\n    response: sheetsResult.response,\n    error: sheetsResult.error,\n  };\n\n  if (!sheetsResult.ok) {\n    return [\n      {\n        json: {\n          success: false,\n          status: 500,\n          error: 'No se pudo guardar el contacto en Google Sheets',\n          details: sheetsResult.error,\n          contact,\n          integrations,\n          warnings,\n        },\n      },\n    ];\n  }\n\n  if (!sheetsResult.response || sheetsResult.response.success !== true) {\n    return [\n      {\n        json: {\n          success: false,\n          status: 500,\n          error: 'Google Sheets no confirmo el guardado',\n          details: sheetsResult.response,\n          contact,\n          integrations,\n          warnings,\n        },\n      },\n    ];\n  }\n\n  const emailHtml = `<p>Hola ${escapeHtml(contact.name)},</p>\n<p>Recibimos tu mensaje y pronto te responderemos.</p>\n<p><strong>Mensaje recibido:</strong> ${escapeHtml(contact.message)}</p>\n<p>Gracias por contactarnos.</p>`;\n\n  const emailResult = await sendWithRetry(\n    'resend_email',\n    'https://api.resend.com/emails',\n    {\n      'Content-Type': 'application/json',\n      Authorization: `Bearer ${config.resendApiKey}`,\n    },\n    {\n      from: config.resendFrom,\n      to: [contact.email],\n      subject: 'Confirmacion de contacto',\n      html: emailHtml,\n    },\n    2,\n    1500,\n  );\n\n  integrations.email = {\n    success: emailResult.ok,\n    attempts: emailResult.attempts,\n    response: emailResult.response,\n    error: emailResult.error,\n    retryScheduled: !emailResult.ok,\n  };\n\n  if (!emailResult.ok) {\n    warnings.push(\n      'No se pudo enviar el email de confirmacion despues de 3 intentos. Se creo tarea en Notion para seguimiento manual.',\n    );\n  }\n\n  const notionTitle = `Contacto: ${contact.name}`.slice(0, 200);\n  const notionMessage = contact.message.slice(0, 1800);\n\n  const children = [\n    {\n      object: 'block',\n      type: 'to_do',\n      to_do: {\n        rich_text: [\n          {\n            type: 'text',\n            text: {\n              content: `Responder a ${contact.name} (${contact.email})`,\n            },\n          },\n        ],\n        checked: false,\n      },\n    },\n    {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [\n          {\n            type: 'text',\n            text: {\n              content: `Mensaje: ${notionMessage}`,\n            },\n          },\n        ],\n      },\n    },\n    {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [\n          {\n            type: 'text',\n            text: {\n              content: `Fuente: ${contact.source} | Fecha: ${contact.receivedAt}`,\n            },\n          },\n        ],\n      },\n    },\n  ];\n\n  if (contact.phone) {\n    children.splice(1, 0, {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [\n          {\n            type: 'text',\n            text: {\n              content: `Telefono: ${contact.phone}`,\n            },\n          },\n        ],\n      },\n    });\n  }\n\n  if (!emailResult.ok) {\n    children.splice(1, 0, {\n      object: 'block',\n      type: 'paragraph',\n      paragraph: {\n        rich_text: [\n          {\n            type: 'text',\n            text: {\n              content: 'ALERTA: Email de confirmacion no enviado. Requiere seguimiento manual.',\n            },\n          },\n        ],\n      },\n    });\n  }\n\n  const notionResult = await sendWithRetry(\n    'notion_task',\n    'https://api.notion.com/v1/pages',\n    {\n      'Content-Type': 'application/json',\n      Authorization: `Bearer ${config.notionToken}`,\n      'Notion-Version': '2022-06-28',\n    },\n    {\n      parent: {\n        page_id: config.notionParentPageId,\n      },\n      properties: {\n        title: {\n          title: [\n            {\n              type: 'text',\n              text: {\n                content: notionTitle,\n              },\n            },\n          ],\n        },\n      },\n      children,\n    },\n    1,\n    1200,\n  );\n\n  integrations.notion = {\n    success: notionResult.ok,\n    attempts: notionResult.attempts,\n    response: notionResult.response,\n    error: notionResult.error,\n  };\n\n  if (!notionResult.ok) {\n    return [\n      {\n        json: {\n          success: false,\n          status: 500,\n          error: 'No se pudo crear la tarea en Notion',\n          details: notionResult.error,\n          contact,\n          integrations,\n          warnings,\n        },\n      },\n    ];\n  }\n\n  const status = emailResult.ok ? 200 : 207;\n  const messageResponse = emailResult.ok\n    ? 'Formulario procesado correctamente'\n    : 'Formulario procesado con incidencias (email pendiente)';\n\n  return [\n    {\n      json: {\n        success: true,\n        status,\n        message: messageResponse,\n        contact,\n        integrations,\n        warnings,\n      },\n    },\n  ];\n} catch (error) {\n  return [\n    {\n      json: {\n        success: false,\n        status: 500,\n        error: 'Error inesperado al ejecutar la automatizacion',\n        details: error instanceof Error ? error.message : String(error),\n      },\n    },\n  ];\n}"
      },
      "id": "2",
      "name": "Process Automation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": "={{ Number($json.status || 200) }}"
        }
      },
      "id": "3",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Contact Form": {
      "main": [
        [
          {
            "node": "Process Automation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Automation": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {},
  "id": "contact-form-automation",
  "tags": []
}